.body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    min-height: 92vh;
    height: auto;
    /*padding-top: 3%;*/
}
.previous{
    border-radius: 50%;
    background-color: #f1f1f1;
    color: black;
    width: 50px;
    height: 50px;
}
.previous:hover{
    background-color: #ddd;
    color: black;
    width: 50px;
    height: 50px;
}
.titleOfMap{
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
    font-size: 30px;
    color:#fefcfb;
}
.group{
    shape-rendering:geometricPrecision;
    text-rendering:geometricPrecision;
    image-rendering:optimizeQuality;
    fill-rule:evenodd;
    clip-rule:evenodd;
}


.tablinks{
    pointer-events: bounding-box;
}

.colmd16{
    /*margin-top: 3%;*/
    /*margin-left:18%;*/
    /*padding-bottom: 10%;*/
    margin: 0 auto;
    width: 60%;
}
.str0 {
    stroke: #fefcfb;
    stroke-width: 30.33;
    stroke-miterlimit: 22.9256
}
.str0:hover{
    stroke: #0a1128;
    stroke-width: 30.33;
    stroke-miterlimit: 22.9256;
}
.activeMap{
    fill: white;
}
.activeMap ~ text{
    fill: #0a1128;
}
.activeMap ~ .str0{
    stroke: red!important;
    stroke-width: 30.33;
    stroke-miterlimit: 22.9256
}
.str1 {
    stroke: #fefcfb;
    stroke-width: 20;
    stroke-miterlimit: 22.9256
}

.fil0 {
    fill: transparent;
    z-index: 1;
}



.fil0:hover {
    fill: #fefcfb;
    z-index: 99;
}

.fil9 {
    fill: #cececf;
}
.fil9:hover {
    fill: #cececf;
}

.fil2 {
    fill: #fff
}

.fil1 {
    fill: whitesmoke;
}

.fil0:hover ~ .fil1{
    fill: #0a1128;
}
.fnt0 {
    font-weight: normal;
    font-size: 300px;
}
text{
    pointer-events: none;
}



#qazaq_map text,
#qazaq_map path,
#qazaq_map circle {
    transition: 0.5s;
}

/*#qazaq_map&gt; g:hover path {
fill: #0681da;
}*/
g:hover circle {
    fill: #cac2c2;
}